/* REGOLE GENERALI DI PAGINA */
*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/* REGOLE HEADER */
header .row {
  height: 80px;
  background: #2c3e50;
}

header .row span {
  color: white;
  font-size: 20px;
  display: inline-block;
  margin-top: 23px;
}

header .col-xs-4 {
  text-align: right;
}

.menu {
  color: white;
  background-color: green;
  border-radius: 4px;
  padding: 2px 4px;
  font-size: 20px;
  display: inline-block;
  margin-top: 19px;
}
.nascondi {
  display: none;
}

/* REGOLE SECONDO CONTAINER */
#start_bootstrap .row {
  background: #1abc9c;
}

#start_bootstrap .container_img {
  max-width: 300px;
  margin: 50px auto;
}
#start_bootstrap h1, #start_bootstrap h4 {
  text-align: center;
  color: white;
}
#start_bootstrap h4 {
  margin-bottom: 50px;
}

/* REGOLE BLOCCO PORTFOLIO */
#portfolio h2 {
  font-size: 40px
  color: #2c3e50;
  margin-top: 55px;
  text-align: center;
}

#portfolio img {
  width: 100%;
}



@media screen and (min-width: 1200px) {
  .row span {
    margin-left: 10%
  }
  .menu {
    display: none;
  }
  .nascondi {
    display: inline-block;
    margin-top: 27px;
    margin-right: 10%;

  }
  ul {
    list-style-type: none;
  }
  li {
    display: inline-block;
  }
  .nascondi a {
    text-decoration: none;
    color: white;
    margin-left: 40px
  }
}
