/* REGOLE GENERALI */
*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  background: #2c3e50;
  position: fixed;
  z-index: 999;
}
header span {
  color: white;
  display: inline-block;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}
.menu {
  background: #1abc9c;
  color: white;
  display: inline-block;
  padding: 4px 8px;
  font-size: 20px;
  margin-top: 16px;
  border-radius: 4px;
}
.nascondi{
  display: none;
}

#start_bootstrap {
  background: #1abc9c;
  margin-bottom: 50px;
}
.container_img {
  width: 30%;
  margin-bottom: 0;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

#start_bootstrap h1 {
  color: white;
  text-align: center;
  font-size: 50px;
}
#start_bootstrap h4 {
  text-align: center;
  color: white;
  margin-bottom: 50px;
}
.terza_riga{
  text-align: center;
  margin-top: 40px;
}

.glyphicon-star, .glyphicon-minus {
  font-size: 50px;
  color: white;
}


h2 {
  font-size: 50px;
  text-align: center;
  color: #2c3e50;
}

#portfolio {
  width: 80%;
  margin: 0 auto;
}
.container_img1, .container_img2, .container_img3, .container_img4, .container_img5, .container_img6 {
  margin: 50px auto;
  margin-bottom: 0;
}
#portfolio img {
  height: 233px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 6px;
}

#about {
background: #1abc9c;
}
#about h2 {
  color: white;
  margin-top: 100px;
  margin-bottom: 30px;
}
#about .container-fluid {
  width: 70%;
  color: white;
  font-size: 20px;
}
#about a {
  display: inline-block;
  margin: 30px auto;
  padding: 6px 10px;
  background: #1abc9c;
  color: white;
  border: 1px solid white;
  border-radius: 4px;
  text-decoration: none;
}
.button {
  text-align: center;
}

#contact h2 {
  margin-top: 40px;
  text-align: center;
  font-size: 50px;
}
#contact .container-fluid{
  width: 80%;
  margin: 0 auto;
  margin-bottom: 40px;
}

footer {
  text-align: center;
  background-color: #2C3E50;
  color: #fff;
}
#copyright{
  background-color: #1A252F;
}


@media screen and (min-width: 1200px) {
  .nascondi {
  display: inline-block;
  }
  .menu {
    display: none;
  }
  header ul {
    list-style: none;
    margin-top: 22px;
    text-align: right;
  }
  header li {
    display: inline-block;
    margin-right: 150px;
  }
  header a {
    text-decoration: none;
    color: white;
  }

}
